h1.ExtraTitle {
  font-size: 128px;
  font-family: 'Onest';
  letter-spacing: -5px;
  line-height: 110%;
  font-weight: 100;
}

h2.Footer {
  font-size: 64px;
  font-family: 'Onest';
  letter-spacing: -2px;
  line-height: 78px;
  font-weight: 100;
}

h2.BigTitle {
  font-size: 56px;
  font-family: 'Onest';
  letter-spacing: -2px;
  line-height: 110%;
  font-weight: 100;
}

h3.Title {
  font-size: 40px;
  font-family: 'Onest';
  letter-spacing: -2px;
  line-height: 110%;
  font-weight: 100;
}

.TitleBold {
  font-size: 40px;
  font-family: 'Onest';
  letter-spacing: -2px;
  line-height: 110%;
  font-weight: 400;
}

h4.Subtitle {
  font-size: 28px;
  font-family: 'Onest';
  letter-spacing: -1px;
  line-height: 130%;
  font-weight: 100;
}

h4.SubtitleBold {
  font-size: 28px;
  font-family: 'Onest';
  letter-spacing: -1px;
  line-height: 130%;
  font-weight: 400;
}

p {
  font-size: 19px;
  font-family: 'Onest';
  letter-spacing: -0.5px;
  line-height: 140%;
  font-weight: 300;
}

p.button {
  font-size: 19px;
  font-family: 'Onest';
  letter-spacing: -0.5px;
  line-height: 24px;
  font-weight: 400;
}

p.small {
  font-size: 14px;
  font-family: 'Onest';
  letter-spacing: -0.5px;
  line-height: 140%;
  font-weight: 300;
}
