:root {
  --black: #000;
  --white: #fff;

  --Tarawera: #083d5f;
  --BlueLarge: #0074ca;
  --BlueLarge2: #005396;
  --BlueHover: #004278;
  --BlueExtra: #002f5e;
  --GreyLight: #feffff;
  --GreyMedium: #e9eff6;
  --GreyMedium2: #c7d6e5;

  --test: 782px;
}
