@import url("./stylesheets/reset.css");
@import url("./stylesheets/fonts.css");
@import url("./stylesheets/typekit.css");
@import url("./stylesheets/basics.css");
@import url("./stylesheets/vars.css");

* {
  box-sizing: border-box;
}

.Wrap {
  display: flex;
  align-items: center;
  gap: 4px;
  transition: 0.1s;
}

.WrapDrop {
  display: flex;
  align-items: center;
  gap: 12px;

  backdrop-filter: blur(10px);
  background: rgba(254, 255, 255, 0.6);
  padding: 20px;
}

.O_Header {
  z-index: 9999;
  background-color: var(--white);
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--BlueLarge2);
  box-shadow: 0px 4px 6px 0px rgba(0, 80, 139, 0.06);

  .A_BoxDrop {
    transition: 0.1s;

    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 100%;
    justify-content: center;

    &:hover {
      &.Wrap {
        /* text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 6px;
        margin-top: -6px; */
      }
    }
  }

  .A_Menu {
    transition: 0.1s;
    display: flex;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    margin-top: 70px;
    gap: 4px;
    width: 250px;
    padding-top: 4px;
    top: 0;

    p.button {
      /* padding-right: 1px; */
    }
  }

  .A_Menu.show {
    opacity: 1;
    visibility: visible;
  }

  .A_BoxRight {
    cursor: pointer;
    color: var(--white);
    background-color: var(--BlueLarge2);
    padding: 12px 32px;
    border-radius: 4px;
    /* margin-left: clamp(0px, 19.167vw, 276px); */
    margin-left: 276px;
    margin-right: 32px;

    &:hover {
      background-color: var(--BlueHover);
    }
  }

  .M_Box {
    margin-left: 32px;
    height: 100%;
    align-items: center;
    .A_Box {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  .BurgerMenu {
    cursor: pointer;
    display: none;
    width: 36px;
    aspect-ratio: 1;
    background-image: url("./images/BurgerMenu.svg");
  }
}

@media (max-width: 1024px) {
  .O_Header {
    padding-left: 20px;
    padding-right: 20px;

    .M_Box {
      display: none;
    }

    .BurgerMenu {
      display: flex;
    }

    #ContactUsBtn {
      display: none;
    }
  }
}

.M_Box {
  display: flex;
  gap: 32px;
}

.A_Logo {
  background-image: url("./images/A_Logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 96px;
  height: 34px;

  &:hover {
    background-image: url("./images/A_Logo02.svg");
  }
}

.A_BoxIcon {
  background-image: url("./images/A_ServicesArrow.svg");
  width: 8px;
  height: 5px;
  margin-bottom: 2px;
}

.ScrollWrap {
  position: relative;
}

.ScrollContent {
  position: relative;
}

#anim {
  /* mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 30%,
    black 100%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 30%,
    black 0%,
    transparent 100%
  ); */

  position: absolute;

  top: 70px;
  width: 100%;
  z-index: -1;
  height: 774px;
}

#anim svg {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

.O_FirstSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 820px;
  position: fixed;
  background: linear-gradient(
    0deg,
    var(--Blue-light, #bfe2ff) 0%,
    #a9d8ff 7.22%,
    #4aabf4 38.87%,
    var(--Blue-Large, #0074ca) 88.87%
  );
  z-index: -1;
  top: 0;
  /* background-image: url("./images/Q_FirstSectionBG.png"); */
  background-size: cover;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: center;
}

.Hidden {
  visibility: hidden;
}

.A_FirstSectionModal {
  z-index: 999999;
  cursor: pointer;
  width: fit-content;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  gap: 8px;
  border-radius: 3px;
  margin-bottom: 80px;

  color: var(--BlueLarge2);

  text-align: center;
  font-family: "Onest";
  font-size: 26px;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: -0.1px;
  background-color: var(--white);
}

.Abs {
  position: absolute;
  top: 562px;
  left: 50%;
  transform: translateX(-50%);
}

.LandingScreenWrap {
  padding-top: 146px;
  width: 100%;
  max-width: 514px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
  align-items: center;

  h2 {
    text-align: center;
    color: var(--white);
    font-weight: 400;
  }

  p {
    text-align: center;
    color: var(--white);
  }
}

.LandingTextWrap {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.P_Long {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  /* margin-top: 95vh; */
}

.plug {
  user-select: none;
  pointer-events: none;
  position: relative;
  width: 100%;
  height: 774px;
  z-index: -10;
  visibility: hidden;
}

.T_Block {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 112px 0px;
  gap: 128px;
  background:
    radial-gradient(
      131.02% 113.54% at 11.93% 89.59%,
      var(--Blue-Medium, rgba(97, 180, 250, 0.5)) 0%,
      var(--Blue-Large-2, rgba(0, 83, 150, 0.5)) 100%
    ),
    rgba(0, 94, 171, 0.8);

  backdrop-filter: blur(25px);
}

.T_Block2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 92px 0px;
  background-color: var(--white);
  align-items: center;
}

.W_BoxLeft {
  width: clamp(1px, 64.722vw, 932px);
  position: relative;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 44px 0px 44px 128px;
  border-right: 1px solid rgba(255, 255, 255, 0.24);
  .M_Text {
    padding-right: 36px;
    width: 100%;
    max-width: 932px;
    flex-shrink: 0;
    h3.Title {
      color: var(--white);
      width: 100%;
    }
  }
}

.W_BoxRight {
  width: 510px;
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 128px;

  .M_Text {
    h3.Title {
      color: var(--white);
    }
  }

  .A_Button {
    cursor: pointer;
    display: flex;
    padding: 12px 24px;
    background: var(--GreyLight);
    width: fit-content;
    color: var(--BlueLarge2);
    gap: 12px;
    border-radius: 4px;

    &:hover {
      background: var(--GreyMedium);
    }
  }
}

.W_1440pxWrap {
  width: 100%;
  display: none;
  justify-content: center;
}

.CasesNumbersShown {
  display: flex;
}

.W_1440pxWrapTitle {
  width: 100%;
  display: flex;
  justify-content: center;

  h3 {
    width: 1440px;
  }
}

.W_TitleBlockWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.24);
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);

  &.Second {
    border-top: 1px solid rgba(1, 69, 120, 0.24);
    border-bottom: 1px solid rgba(1, 69, 120, 0.24);
  }

  .O_TitleBlock {
    width: 100%;
  }
}

.O_TitleBlock {
  justify-content: flex-end;
  max-width: 1440px;
  display: flex;

  &.Second {
    .W_BoxLeft {
      border-right: 1px solid rgba(1, 69, 120, 0.24);
      padding: 52px 0px 52px 128px;
    }

    .M_Text {
      display: flex;
      flex-direction: column;
      gap: 28px;
    }

    h3.Title {
      color: var(--BlueLarge2);
    }
  }
}

.A_Button.Blue {
  background-color: var(--BlueLarge2);
  color: var(--GreyLight);

  &:hover {
    background: var(--BlueHover);
  }
}

.A_IconsNavigationIcon {
  width: 16px;
  aspect-ratio: 1;

  background-image: url("./images/A_IconsNavigationIcon.svg");
  background-size: contain;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: center;

  &.Grey {
    background-image: url("./images/A_IconsNavigationIconGrey.svg");
  }
}

.O_Box {
  width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 92px;
  padding: 0px 128px;
  box-sizing: border-box;

  p {
    color: var(--white);
  }
}

.W_BoxTripple {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
}

.O_Text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 382px;
  width: 100%;

  .W_Box {
    display: flex;
    gap: 20px;
    flex-direction: column;

    h3 {
      color: var(--white);
    }

    p {
      max-width: 250px;
    }

    p.ShortenP {
      max-width: 220px;
    }
  }
}

.A_Button.Clear {
  cursor: pointer;
  display: flex;
  gap: 12px;
  padding: 12px 0px;

  .A_IconsNavigationIcon {
    margin-top: 2px;
  }

  &:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: var(--white);
  }
}

.T_Cases {
  .A_Button.Clear {
    &:hover {
      text-decoration: none;
    }
  }
}

.ShortenTitle {
  max-width: 215px;
}

.ShortenStorage {
  max-width: 116px;
}

.A_Icon01 {
  background-image: url("./images/A_Icon01.svg");
  width: 50px;
  aspect-ratio: 1;
}

.A_Icon02 {
  background-image: url("./images/A_Icon02.svg");
  width: 50px;
  aspect-ratio: 1;
}

.A_Icon03 {
  background-image: url("./images/A_Icon03.svg");
  width: 50px;
  aspect-ratio: 1;
}

.A_IconSus01 {
  background-image: url("./images/A_IconSus01.svg");
  width: 50px;
  aspect-ratio: 1;
}

.A_IconSus02 {
  background-image: url("./images/A_IconSus02.svg");
  width: 50px;
  aspect-ratio: 1;
}

.A_IconSus03 {
  background-image: url("./images/A_IconSus03.svg");
  width: 50px;
  aspect-ratio: 1;
}

.SusIconsWrap {
  flex-wrap: wrap;
  max-width: 100%;
  display: flex;
  justify-content: center;
  gap: 128px;
  color: var(--BlueLarge2);
  padding-bottom: 212px;
}

.SusIconsWrapContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.A_Tag {
  display: flex;
  color: var(--GreyLight);
  padding: 3px 14px 1px 14px;
  background: var(--BlueLarge2);
  width: fit-content;
  border-radius: 999px;

  p {
    letter-spacing: 0px;
  }
}

.WrapAgain {
  background-color: var(--white);
  position: relative;
  width: 100%;
  /* overflow-x: auto; */
  /* overflow-x: hidden; */

  justify-content: center;
}

.ServBlock {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  position: relative;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 92px;
  padding-right: 128px;
  padding-left: 128px;
}

body.test_anim {
  background-color: #002f5e;
}

.lol {
  padding-top: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--white);

  h2 {
    color: var(--BlueLarge2);
    width: 100%;
    max-width: 930px;
    text-align: center;
  }
}

.ServWrap {
  gap: 32px;
  width: 100%;
  max-width: 1184px;
  display: flex;
  flex-direction: column;
}

.W_BoxServs {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 колонки */
  grid-template-rows: repeat(2, auto); /* 2 строки */

  width: 100%;
  max-width: 1184px;
  padding-left: 128px;
  padding-right: 128px;
  position: relative;
  color: var(--BlueLarge2);
  gap: 20px;

  .O_Services {
    width: 100%;
  }
}

.W_1440pxWrapCarousel {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 180px);
  scrollbar-width: none;

  position: relative;
  gap: 20px;
  padding: 78px 0px;
  overflow-x: auto;
  justify-content: center;
}

.W_BoxCarousel {
  position: relative;
  width: fit-content;
  padding-right: calc(calc(100vw - calc(1440px - 256px)) / 2);
  /* padding-left: 8.889vw; */
  /* padding-right: 8.889vw; */
  color: var(--BlueLarge2);
  align-items: center;
  display: flex;
  gap: 20px;
}

.A_Image {
  position: relative;
  margin-bottom: -24px;
  width: inherit;
  height: 17.361vw;

  background-size: contain;

  &::before {
    display: block;
    transition: 0.4s;

    opacity: 1;
    width: inherit;
    position: absolute;
    height: inherit;
    content: "";
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      var(--Grey-Light, #ffffff) 100%
    );
  }

  &::after {
    display: block;

    transition: 0.4s;

    opacity: 0;
    width: inherit;
    position: absolute;
    height: inherit;
    content: "";
    background: linear-gradient(
      180deg,
      rgba(172, 199, 221, 0.32) 0.42%,
      var(--Blue-Large-2, #005396) 100%
    );
  }
}

.O_Services {
  transition: 0.4s;
  position: relative;
  width: 20.833vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  overflow: hidden;

  cursor: pointer;
  user-select: none;

  .A_Image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &:nth-child(1) .A_Image {
    background-image: url("./images/A_Image01.jpg");
  }

  &:nth-child(2) .A_Image {
    background-image: url("./images/A_Image02.jpg");
  }

  &:nth-child(3) .A_Image {
    background-image: url("./images/A_Image03.jpg");
  }

  &:nth-child(4) .A_Image {
    background-image: url("./images/A_Image04.jpg");
  }

  &:nth-child(5) .A_Image {
    background-image: url("./images/A_Image05.jpg");
  }

  &:nth-child(6) .A_Image {
    background-image: url("./images/A_Image06.jpg");
  }

  &:nth-child(6) {
  }

  &:nth-child(2) .A_ServicesDescription {
    max-width: 190px;
  }

  &:nth-child(3) .A_ServicesDescription {
    max-width: 190px;
  }

  &:nth-child(5) .A_ServicesDescription {
    max-width: 174px;
  }

  &:hover {
    background-color: var(--BlueLarge2);
    color: var(--GreyLight);
    text-decoration: none;

    .A_Image::after {
      opacity: 1;
    }

    .A_ImageIcon {
      background-color: var(--white);
    }

    .A_IconsNavigationIcon {
      transition: 0.4s;
      margin-left: -5px;
    }
  }
}

@media (max-width: 1439px) {
  .O_Services {
    width: 29.297vw;
  }
}

.A_ImageIcon {
  z-index: 1;
  width: 50px;
  aspect-ratio: 1;
  position: absolute;
  left: 0;
  top: 0;

  background-color: var(--GreyLight);
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 999px;

  background-repeat: no-repeat;
  background-position: center;
}

.A_ServicesDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  padding: 20px;
  z-index: 1;

  .A_Button.Clear:hover {
    text-decoration: none;
  }

  p.button.height {
    display: flex;
    align-items: flex-end;
    height: 2.778vw;
    vertical-align: bottom;
  }
}

.O_Logos {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--white);
  justify-content: center;
  gap: 20px;
  padding: 36px 0px;

  p.button {
    color: #364450;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.W_LogosCarousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 40px 0px;
}

.logos-track {
  display: flex;
  width: max-content;
  gap: 6.667vw;
  align-items: center;

  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    /* Анимируем ровно на ширину одного полного набора логотипов */
    transform: translateX(calc(-1 * var(--marquee-width, 1000px)));
  }
}

.A_LogoTrusted {
  user-select: none;
  pointer-events: none;
  position: relative;
  display: flex;
  cursor: pointer;

  &.l1 {
    width: 5.417vw;
    height: 2.222vw;
  }

  &.l2 {
    width: 5.972vw;
    height: 2.917vw;
  }

  &.l3 {
    width: 5.417vw;
    height: 2.708vw;
  }

  &.l4 {
    width: 7.986vw;
    height: 2.153vw;
  }

  &.l5 {
    width: 7.222vw;
    height: 2.431vw;
  }

  &.l6 {
    width: 4.653vw;
    height: 2.153vw;
  }

  &.l7 {
    width: 8.125vw;
    height: 1.806vw;
  }

  &.l8 {
    width: 3.75vw;
    height: 3.403vw;
  }
}

.T_Industries {
  display: flex;
  flex-direction: column;
  gap: 92px;
  padding: 112px 0px;

  background: linear-gradient(0deg, #fefefe 0%, #7cb7e3 35.08%, #0064b3 100%);
}

.O_TitleTabs {
  display: flex;
  flex-direction: column;
  gap: 40px;

  h3.TitleBold {
    color: var(--white);
    padding: 0px 128px;
  }
}

.W_TabsWrap {
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  width: 100%;
  justify-content: center;
}

.W_TabsWrapFirst {
  z-index: 1;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  width: 100%;
  justify-content: center;

  position: fixed;
  top: 76px;

  transition: 0.1s;

  .W_Tabs {
    justify-content: center;
  }

  .Tab {
    padding: 12px 16px;
  }
}

.W_Tabs {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  padding: 4px 128px;
}

.Tab {
  transition: 0.2s;
  cursor: pointer;
  color: var(--white);
  padding: 12px 16px;
  border-radius: 4px;

  &:hover {
    background: rgba(255, 255, 255, 0.4);
  }

  &.Selected {
    color: var(--BlueLarge2);
    background-color: var(--GreyLight);
  }
}

.O_Industry {
  display: none;
  width: 100%;
  max-width: 1440px;
  padding: 0px 128px 48px 128px;
  gap: 104px;

  .O_Text {
    max-width: 540px;

    p {
      max-width: 540px;
    }

    .W_Box {
      .A_Tag {
        background: rgba(255, 255, 255, 0.22);
      }
      :nth-child(3) {
        color: var(--white);
      }
    }
  }

  .A_ImageIndustry {
    width: 100%;
    max-width: 540px;
    min-width: 1px;
    border-radius: 6px;
    object-fit: cover;
    height: 300px;
  }
}

.IndustryShown {
  display: flex;
}

.W_1440pxWrapNumbers {
  width: 100%;
  padding: 64px 0px 112px 0px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
}

.T_Numbers {
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: var(--BlueLarge);
  }
}

.W_BoxPlanet {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-bottom: 64px;
}

.O_BoxNumbers {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 0px 128px;
  width: 100%;
  align-items: center;

  .A_Button {
    cursor: pointer;
    display: flex;
    padding: 12px 24px;
    width: fit-content;
    gap: 12px;
    border-radius: 4px;
  }
}

.W_Numbers {
  display: flex;
  width: 100%;
}

.W_Numbers > :nth-child(1),
.W_Numbers > :nth-child(2) {
  border-right: 1px solid var(--GreyMedium2);
}

.M_Numbers {
  justify-content: center;
  height: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  :nth-child(1) {
    color: var(--BlueLarge2);
  }

  :nth-child(2) {
    color: var(--BlueLarge);
  }
}

.W_1440pxWrapCases {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--BlueLarge2);
}

.W_1440pxWrapCasesPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--BlueLarge2);
  padding-bottom: 128px;
}

.T_Cases {
  width: 100%;
  max-width: 1440px;
  padding: 112px 128px;

  gap: 92px;
  display: flex;
  flex-direction: column;

  .O_Text {
    color: var(--GreyLight);
  }

  p.button {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 14px;
      margin-top: -2px;
    }
  }
}

.T_Cases {
  .O_Text {
    p.button {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 6px;
        margin-top: 0px;
      }
    }
  }
}

.W_BoxCases {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3,
  p {
    color: var(--GreyLight);
  }

  h3 {
    padding: 0px 92px 76px 92px;
  }
}

.M_BoxCases {
  display: flex;
  gap: 24px;
}

.W_MapBox {
  display: flex;
  position: relative;
  display: none;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s;

  &.MapBoxShown {
    transition: opacity 0.1s;
    opacity: 1;
    visibility: visible;
    display: flex;
  }
}

p.button.selected {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 14px;
  margin-top: -2px;
}

.A_Map {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  object-fit: contain;
  overflow: hidden;
}

.T_Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 164px;
  gap: 176px;
  background: linear-gradient(
    180deg,
    var(--Grey-Light, #feffff) 0%,
    #006cbd 100%
  );
}

.O_Form {
  border-radius: 12px;
  width: 100%;
  max-width: 1344px;

  padding: 24px;
  background: var(--Grey-Light, #feffff);
  display: flex;
  flex-direction: column;

  .W_FormContent {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    gap: 12px;
  }

  .W_FormContentRow {
    display: flex;
    gap: 12px;
  }

  h2 {
    font-weight: 300;
    color: var(--BlueLarge2);
  }
}

.M_FormInput {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.A_FormInputLabel {
  font-family: "Onest";
  font-size: 12px;
  color: #002f5e;
}

.A_FormInputField {
  all: unset;
  border-bottom: 1px solid var(--BlueExtra);
  font-family: "Onest";
  font-size: 28px;
  line-height: 130%;
  letter-spacing: -1px;
  height: 48px;
  color: var(--BlueLarge2);
}

.A_FormInputField::placeholder {
  color: #c7d6e5;
}

.O_Form {
  gap: 24px;
}

.W_FormDownside {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 20px;
}

.A_OutButton {
  color: var(--BlueLarge2);
  display: flex;
  align-items: center;

  gap: 8px;

  background-color: var(--GreyMedium);

  padding: 8px 14px;
  height: fit-content;
  border-radius: 9999px;

  cursor: pointer;
}

.W_FormDownside {
  .A_Button {
    all: unset;
    display: flex;
    background-color: var(--BlueLarge2);
    padding: 12px 24px;
    gap: 12px;
    color: var(--GreyLight);
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background: var(--BlueHover);
    }
  }
}

.A_BgCircle {
  background-image: url("./images/A_Circle.svg");
  background-size: contain;
  background-position: center;

  position: absolute;
  bottom: 0;

  left: 50%;
  transform: translateX(-50%);

  width: 982px;
  height: 438px;

  z-index: 1;
}

.O_FooterDownsideBox {
  padding: 96px 0px 48px 0px;

  border-top: var(--stroke-weight-1, 1px) solid #fff;

  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 434px;
  color: var(--white);
}

.W_FooterDownsideWrap {
  border-top: var(--stroke-weight-1, 1px) solid #fff;

  position: relative;

  z-index: 2;
  display: flex;
  justify-content: space-between;

  align-items: center;
  color: var(--white);
}

.T_FooterDownside {
  position: relative;
  width: 100%;
  max-width: 1440px;
  padding: 0px 48px;
}

.W_FooterDownsideWrapText {
  display: flex;
  gap: 18px;

  height: 70px;
  align-items: center;
}

.W_FooterNavigation {
  display: flex;
  gap: 96px;

  color: var(--white);
}

.A_FooterContactsContentItemIconLinkedin {
  background-image: url("./images/footerIcons/A_FooterContactsContentItemIconLinkedin.svg");
  width: 22px;
  aspect-ratio: 1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.A_FooterContactsContentItemIconInsta {
  background-image: url("./images/footerIcons/A_FooterContactsContentItemIconInsta.svg");
  width: 22px;
  aspect-ratio: 1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.W_FooterContactsContent {
  display: flex;
  gap: 24px;
}

.M_FooterContactsContentItem {
  display: flex;
  gap: 12px;
  align-items: center;
}

.W_Socials {
  display: flex;
  gap: 18px;
}

.O_FooterContacts {
  display: flex;
  flex-direction: column;
  gap: 24px;

  h3 {
    font-weight: 200;
  }
}

a > p.button {
  &:hover {
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
}

.M_Box {
  p.button:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    margin-top: -6px;
  }

  .WrapDrop {
    p:hover {
      text-decoration-thickness: 2px;
      text-underline-offset: 2px;
      margin-top: 0px;
    }
  }
}

.ContactModal.is-active {
  display: flex;
}

.W_FormContentRow {
  position: relative;
}

.A_ModalCloseIcon {
  position: absolute;
  top: 24px;
  right: 24px;
  background-image: url("./images/A_ModalCloseIcon.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1;
  width: 26px;
  cursor: pointer;
}

.About_Section01 {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  width: 100%;
  background-color: var(--white);
}

.A_PlanetSmall {
  width: 42px;
  aspect-ratio: 1;
}

.A_PlanetSmall {
  width: 58px;
  aspect-ratio: 1;
}

.W_AboutWrap {
  margin-top: 60px;
  margin-bottom: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.W_AboutWrapInside {
  align-items: center;
  max-width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  gap: 28px;

  h3,
  h2 {
    text-align: center;
    color: var(--BlueLarge2);
  }
}

.W_AboutSec02Wrap01 {
  display: flex;
  gap: 20px;

  color: var(--white);
  width: 100%;
}

.WrapRowAbout {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 382px;

  &:nth-child(3) > h4 {
    padding-left: 138px;
    color: rgba(255, 255, 255, 0.6);
    max-width: 300px;
  }
}

.W_WrapAboutVertical {
  display: flex;
  flex-direction: column;
  gap: 20px;

  p {
    font-weight: 200;
  }
}

ul {
  list-style-position: inside;
  list-style: disc;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 20px;
}

.About_Section02Wrap {
  position: relative;
  width: 100%;
  padding: 112px 0px;
  display: flex;
  justify-content: center;
}

.About_Section02WrapSus {
  position: relative;
  width: 100%;
  padding: 112px 128px;
  display: flex;
  justify-content: center;
}

.About_Section02 {
  width: 100%;
  max-width: 1440px;
  display: flex;
  padding: 112px 128px;
  justify-content: center;
  flex-direction: column;
  gap: 128px;

  .O_Box {
    width: 100%;
    padding: 0;
  }
}

.ContactModalWrap {
  display: flex;
  user-select: none;
  width: 100%;
}

.ContactModal {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  justify-content: center;
  align-items: center;

  .O_Form {
    position: relative;
    max-width: 636px;
  }

  .M_FormInput {
    width: 100%;
  }

  .A_FormInputField {
    width: 100%;
  }
}

.SickySec {
  position: relative;
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 1440px;
  color: var(--white);
  height: fit-content;
}

.FixedElem {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-top: 190px;
  /* top: 300px; */
  position: sticky;
  width: 100%;
  height: fit-content;
  width: 382px;
}

.FixedSusWidth {
  display: flex;
  position: absolute;
  width: 100%;
  max-width: 1440px;
  height: fit-content;
}

.FixedElemSus {
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-top: 190px;
  /* top: 300px; */
  width: 100%;
  height: fit-content;
  width: 382px;
}

.A_SusStickIcon {
  width: 25px;
  aspect-ratio: 1;
}

.SusStickWrap {
  width: 100%;
  max-width: 382px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.SusStickSec03 {
  width: 100%;
  display: flex;
}

.ScrollWrapVert {
  display: flex;
  flex-direction: column;
  max-width: var(--test);
}

.ScrollElem {
  position: relative;
  width: 100%;
}

.ScrollElemCar {
  /* padding-left: calc(calc(100vw - calc(1440px - 528px))); */
  display: flex;
  position: relative;
  width: max-content;
  /* width: 10px; */
  /* max-width: 782px; */
}

.AbsoluteCarouselWrapHaha {
  position: absolute;
  width: 200px;
  height: 38.333vw;
  max-height: 552px;
  /* padding-top: clamp(1px, 4.444vw, 64px);
  padding-bottom: clamp(1px, 4.444vw, 64px); */
}

.Arrows {
  position: absolute;
  bottom: calc(calc(clamp(1px, 4.444vw, 64px) * -1) - 108px);
  left: 0;
  display: flex;
  gap: 16px;
}

.Arrow {
  cursor: pointer;
  width: 18px;
  aspect-ratio: 1;
  background-image: url("./images/Arrow.svg");
  background-position: center;
  background-repeat: no-repeat;

  &.Prev {
    transform: rotate(-180deg);
  }
}

.SusCarousel {
  overflow-x: auto;

  position: relative;
  width: 100%;
  display: flex;
  gap: 20px;
  /* scrollbar-width: none; */
  padding: 64px 0px 64px 0px;
}

.A_SusHorScrollPic {
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;

  pointer-events: none;
  width: 28.75vw;
  max-width: 414px;
  height: 38.333vw;
  max-height: 552px;
  /* height: 50px; */
  object-fit: cover;
  border-radius: 4px;

  &.Wide {
    width: 63.333vw;
    max-width: 736px;
  }
}

.AbsoluteCarousel {
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;

  scrollbar-width: none;
  overflow-x: auto;
  left: 0;
  gap: 20px;
  display: flex;
  position: absolute;
  width: calc(100vw - 20px);
  padding-top: clamp(1px, 4.444vw, 64px);
  padding-bottom: clamp(1px, 4.444vw, 64px);
  padding-right: 8.889vw;
}

.SusCarouselContent {
  position: relative;
  display: flex;
  gap: 20px;
  width: max-content;
  /* padding-right: calc(calc(100vw - calc(1440px - 256px)) / 2); */
  align-items: center;
}

.BigTitle.yes-border {
  margin-top: 138px;
  padding-top: 128px;
}

.yes-border {
  border-top: 1px solid var(--Blue-Large, #0074ca);
}

.WrapAboutUs {
  display: flex;
  padding: 128px 0px;
  border-bottom: 1px solid var(--Blue-Large, #0074ca);

  h3 {
    width: 100%;
    max-width: 392px;
  }

  p {
    width: 100%;
    max-width: 392px;
  }
}

.WrapAboutUsContent {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;

  p {
    color: #99bad5;
  }
}

.WrapAboutUsVerical {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.Bullet {
  width: 50px;
  padding: 12px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .CircleBlue {
    background-color: var(--BlueLarge);
    width: 26px;
    aspect-ratio: 1;
    border-radius: 99999px;
  }
}

.FixedWrap {
  width: 382px;
  display: flex;
  align-items: center;
  gap: 36px;

  p.small {
    transition: opacity 0.3s;
    opacity: 0;
    visibility: hidden;
  }
}

.A_LogoMovingBullet {
  transition: top 0.2s;
  width: 50px;
  aspect-ratio: 1;
  background-image: url("./images/A_LogoMovingBullet.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
}

p.small.pShown {
  opacity: 1;
  visibility: visible;
}

.W_1440pxWrapScope {
  color: var(--BlueLarge2);
  background-color: var(--white);

  display: flex;

  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.T_Scope {
  display: none;
  width: 100%;
  max-width: 1440px;
  padding: 128px 128px 64px 128px;
}

.ScopeShown {
  display: flex;
}

.Shown {
  display: flex;
}

.ScopeHeaderWrap {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
  max-width: 382px;
}

.ScopeContentImage {
  width: 100%;
  max-width: 382px;
  border-radius: 4px;
  object-fit: cover;
}

.ScopeContent {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 128px;
}

.ScopeContentText {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.SusSec2 {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 272px;
}

.SickySecSus {
  box-sizing: border-box;
  /* padding: 272px 128px 128px 128px; */

  /* padding-right: calc(calc(100vw - calc(1440px - 256px)) / 2); */
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  color: var(--white);
  height: fit-content;
  right: 0;
  /* max-width: 782px; */
}

.SusVertical {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
}

.no-border {
  border-bottom: none;
  padding-bottom: 0px;
}

.SusSec2Wrap {
  padding-top: 272px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plugCar {
  display: flex;
  position: relative;
  flex-shrink: 0;
  width: 382px;
  height: 10px;
}

.plswork {
  /* margin-left: 382px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
}

.PlugWrap {
  margin-top: 4.444vw;
  width: 100%;
  height: 38.472vw;
  max-height: 552px;
}

.ScrollArrow {
  width: 18px;
  aspect-ratio: 1;
}

.SusPWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 382px;
  gap: 20px;

  p {
    font-weight: 100;
  }

  p:nth-child(2) {
    color: rgba(255, 255, 255, 0.7);
  }
  p:nth-child(3) {
    color: rgba(255, 255, 255, 0.7);
  }
}

.T_BlockServices {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 112px 0px;
  gap: 128px;
  background-color: var(--white);
  backdrop-filter: blur(25px);
}

.PlanetService {
  width: 50px;
  aspect-ratio: 1;
}

.W_TitleBlockWrapServices {
  width: 100%;
  min-height: 280px;
  display: flex;
  border-top: 1px solid rgba(1, 69, 120, 0.24);
  border-bottom: 1px solid rgba(1, 69, 120, 0.24);

  &.Second {
    border-top: 1px solid rgba(1, 69, 120, 0.24);
    border-bottom: 1px solid rgba(1, 69, 120, 0.24);
  }

  .O_TitleBlock {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    position: relative;
    width: 100%;
    max-width: none;
    justify-content: end;
    align-items: center;
  }

  .W_BoxLeft {
    grid-column: 2/18;

    border-right: 1px solid rgba(1, 69, 120, 0.24);
    width: 100%;
    /* max-width: 932px; */
    flex-shrink: 0;
    justify-content: space-between;

    padding-left: 128px;
    /* padding-right: 32px; */
    h3.Title,
    p {
      color: var(--BlueLarge2);
    }
  }

  .W_BoxRight {
    grid-column: 18/25;
    background-image: url("./images/ServicesImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    max-height: 500px;
    padding: 0;
  }

  .M_Text {
    display: flex;
    width: 100%;
    max-width: none;
    flex-direction: column;
    gap: 28px;
  }

  @media (min-width: 564px) and (max-width: 1224px) {
    .W_BoxLeft {
      grid-column: 1 / 5;
      padding-left: 24px;
    }

    .W_BoxRight {
      grid-column: 8 / 12;
    }
  }

  @media (max-width: 563px) {
    .W_BoxLeft {
      grid-column: 1 / -1;
      grid-row: 1;
      padding-left: 24px;
    }

    .W_BoxRight {
      grid-column: 1 / -1;
      grid-row: 2;
      height: 200px;
    }
  }
}

.margin {
  padding-top: 24px;
}

@media (max-width: 1439px) {
  .W_1440pxWrapCarousel {
    justify-content: start;
    padding-left: 128px;
    padding-right: 128px;
  }

  .A_ServicesDescription {
    p.button.height {
      /* height: 60px; */
    }
  }
}

.T_BlockService01 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 112px 0px;
  gap: 128px;
  background-color: var(--white);
  backdrop-filter: blur(25px);

  .W_BoxLeft {
    display: flex;
    flex-direction: column;
    gap: 28px;

    padding: 64px 64px 64px 128px;

    .A_Button {
      gap: 12px;
      padding: 16px 24px;
      border-radius: 4px;

      max-width: 226px;
      display: flex;
      p {
        color: var(--white);
      }
    }
  }

  .W_BoxRight {
    background-image: url("./images/Service1Image.jpg");
    background-size: cover;
  }
}
